body {
    color: black;
    margin: auto;
    max-width: 50em;
}

footer {
    text-align: center;
}

.date-time-title {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.home {
    margin: 0 20px;
}
